.body-bg {
  background-color: papayawhip;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  color: red;
  text-align: center;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  border: 2px solid black;
  margin: 12px;
  padding: 2px;
}

.list {
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.img-container {
  height: auto;
  width: 50%;
  margin: auto;
  padding-left: 23%;
}

.sub-title {
  color: blue;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 12px;
}

.sub-title ~ p {
  margin: 20px;
}

.page-font {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
li {
  padding: 5px;
  margin: 6px;
}
